<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }} - Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" >
</head>
<body class="d-flex flex-column min-vh-100">
  <header class="bg-dark bg-gradient p-3 text-light">
    <div class="float-end text-end mr-1 text-light">
      {% if 'usuario_nome' in session %}
      <form action="{{ url_for('logout') }}" method="post">
        <div>Olá, {{ session['usuario_nome'] }}!</div>
        <button class="btn btn-link">Sair</button>
      </form>
      {% else %}
      <div><a href="{{ url_for('login') }}">Login</a></div>
      {% endif %}
    </div>
    <h1 class="display-1">Jogoteca</h1>
  </header>
  <main class="container mt-3">
    <div class="page-header">
      <h1>{{ titulo }}</h1>
    </div>
    {% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        <ul class="text-danger">
          {% for mensagem in mensagens %}
            <li>{{ mensagem }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    {% block conteudo %}
    {% endblock %}
  </main>
  <footer class="mt-auto bg-light p-2 text-center">
    <small>Desenvolvido por Juan Lucas (2022)</small>
  </footer>
</body>
</html>